header{
	background:#BBBBBB;
	padding: 20px 0;

}

.titulo_principal{
	text-align:center;
	font-size:40px;
}

.caixa{
	width:auto;
	margin:0 auto;
	margin-left:10px;
}

.logo{
	width:10%;

}
nav{
	position:absolute;
	top:90px;
	right:40px;
}

nav li{
	display:inline;
	margin:0 0 0 15px;
}

nav a {

	color:#000000;
	text-transform: uppercase;
	text-decoration:none;
	font-size:20px;
	font-weight:bold;
}

nav a:hover{
	text-decoration:underline;
	color: #C78C19;
}
nav a:active{
	color:#0000FF;
}


